<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>HoneyDew</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/css/materialize.css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="/assets/css/swiper.css">
    <link href="/assets/css/style.css" rel="stylesheet" media="screen,projection" />
</head>


<nav>
    <div class="nav-wrapper">

        <ul class="right">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown4"><i
                        class="large material-icons">insert_menu</i></a></li>

            <!-- Dropdown Structure -->
            <ul id="dropdown4" class="dropdown-content">
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/swipe">Tell Us What You're Into</a></li>
                <li><a href="/both">Show Me What We Both Like</a></li>
                <li class="divider"></li>
                <li><a href="/">Sign Out</a></li>
            </ul>
        </ul>
    </div>
</nav>

<body>

    {{{ body }}}


    <footer class="page-footer yellow lighten-3">
        <div class="container">
            <div class="row blue-text text-lighten-2">
                <div class="about col l12 s12">
                    <h4>About Us</h4>
                    <h5>WELCOME TO HONEYDEW! HONEYDEW IS AN INTERACTIVE COUPLES APP DESIGNED TO MAKE PLANNING YOUR DINNER AND DATE NIGHT EASIER!
                        HAVE YOU SPENT MORE TIME THAN YOU NEEDED TRYING TO DECIDE WHAT TO EAT?
                        HOW ABOUT TRYING TO DECIDE WHAT TO DO FOR DATE NIGHT? HONEYDEW IS HERE TO SOLVE THAT!
                        CREATE A SHARED ACCOUNT OR LOGIN. AT YOUR DASHBOARD, YOU'LL BE ABLE TO SWIPE THROUGH OUR MEAL AND DATE IDEAS, AND DOUBLETAP TO 'LIKE' THE ONES THAT SUIT YOU!
                        ONCE YOUR PARTNER DOES THE SAME, WE'LL SHOW YOU WHAT YOU BOTH LIKED!</h5>

                </div>
                <div class="col l3 s12">
        

                </div>
                <div class="col l3 s12">

                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p class="black-text">Made with love by the<a class="green-text text-3">  HoneyDew Team</a></p>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="/assets/js/materialize.js"></script>
    <script src="/assets/js/init.js"></script>
    <script src="/swiper/dist/js/swiper.js"></script>
</body>


</html>