<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <!--Let browser know website is optimized for mobile-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/swiper.css">
    <style type="text/css">    @font-face{
        font-family:"Honey Dew W05 Regular";
        src:url("Fonts/5371840/ed6ad466-19b6-4aa2-81b6-5de7d3356417.eot?#iefix");
        src:url("Fonts/5371840/ed6ad466-19b6-4aa2-81b6-5de7d3356417.eot?#iefix") format("eot"),url("Fonts/5371840/36c5ef68-d1de-4f9f-96d1-02df2727c99e.woff2") format("woff2"),url("Fonts/5371840/31dc1a97-a5d9-4eb4-bd85-7fe9813848bc.woff") format("woff"),url("Fonts/5371840/f672c4ae-5797-4d1d-9259-de38cfa5ab7c.ttf") format("truetype");
    }
</style>  			
    <title>HoneyDew</title>
</head>

<nav>
    <div class="nav-wrapper">
        <a class="brand-logo">HoneyDew</a>
        <ul class="right hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown4"><i class="large material-icons">insert_menu</i></a></li>

            <!-- Dropdown Structure -->
            <ul id="dropdown4" class="dropdown-content">
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/swipe">Tell Us What You're Into</a></li>
                <li><a href="/both">Show Me What We Both Like</a></li>
                <li class="divider"></li>
                <li><a href="/">Sign Out</a></li>
            </ul>
        </ul>
    </div>
</nav>


<script>
    $('.dropdown-trigger').dropdown();
</script>

<body>

{{{ body }}}

</body>


</html>