<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>HoneyDew - Making Decisions with your Partner, Easier!</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/css/materialize.css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="/assets/css/swiper.css">
    <link href="/assets/css/style.css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">HONEYDEW</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Navbar Link</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    {{{body}}}


    

    <footer class="page-footer yellow lighten-3">
        <div class="container">
            <div class="row brown-text text-lighten-2">
                <div class="col l6 s12">
                    <h5>About Us</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam obcaecati repellat nesciunt aspernatur veniam placeat voluptatibus doloremque quibusdam, libero maiores commodi ab illum? Voluptas tempore quidem ea sequi? Incidunt quibusdam earum culpa voluptates id. Nam laborum dignissimos fuga! Odit magnam non architecto quaerat necessitatibus molestiae sed odio perspiciatis facilis obcaecati.</p>


                </div>
                <div class="col l3 s12">
                    <h5>Settings</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5>Connect</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p class="brown-text">Made with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a></p>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/assets/js/materialize.js"></script>
    <script src="/assets/js/init.js"></script>
    <script src="/swiper/dist/js/swiper.js"></script>

</body>

</html>