<main>
    <div class="container dashboard-cont">
        <div class="row">
       <div class="col s12">
            <div class="col m6 user-side-bar show-on-small">
                <img src="/assets/images/avatar_placeholder.png" width="270px" class="circle av-img center-align">
                <p class="center-align">Welcome, NAME</p>

            </div>   
            <div class="col m6 show-on-small">
             <img src="/assets/images/avatar_placeholder2.png" width="250px" class="circle av-img right-align">
                <p class="center-align">Welcome, NAME</p>

            </div></div>
            
            <div class= "col l6 l12 center-align">
                <div class="row">
                    <div class="col s12">
                        <h2>Dashboard for<br>
                            COUPLENAME</h2>
                    </div>
                </div>
                <div class="row">
                    Tell us what you're into!
                </div>
                <div class="row">
                    <a href="/api/foods/like" class="btn-large">Meal Ideas</a><a href="/api/activities/like"
                        class="btn-large">Date Ideas</a>
                </div>
                <div class="row">
                    Show me what we both like!
                </div>
                <div class="row">
                    <a href="/api/foods/both" class="btn-large">Meal Time!</a><a href="/api/activities/both"
                        class="btn-large">Date Time!</a>
                        
                </div> <br><br><br><br>
            </div>
           
        </div>
    </div>
</main>