<main>
    <div class="dashboard-cont center-align">

        <div class="row center-align">
            <div class="col l1 center-align">
                <img src="/assets/images/avatar_placeholder.png" class="av-img center-align">
                <p class="center-align">Welcome, NAME</p>
            </div>
            <div class="col l10">
                <h1>Dashboard for COUPLENAME</h1>
            </div>
            <div class="col l1 center-align">
                <img src="/assets/images/avatar_placeholder2.png" class="av-img center-align">
                <p class="center-align">Welcome, NAME</p>
            </div>
        </div>
        <div class="row">
            <h3>Tell us what you're into!</h3>
            <a href="/api/foods/like" class="btn-large">Meal Ideas</a> <a href="/api/activities/like"
                class="btn-large">Date Ideas</a>
        </div>
        <div class="row">
            <h3>Show me what we both like!</h3>
            <a href="/api/foods/both" class="btn-large">Meal Time!</a> <a href="/api/activities/both"
                class="btn-large">Date Time!</a>

        </div>
    </div>


</main>