<main> 
    <nav>
    <div class="nav-wrapper">

        <ul class="right">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown4"><i
                        class="large material-icons">insert_menu</i></a></li>

            <!-- Dropdown Structure -->
            <ul id="dropdown4" class="dropdown-content">
                    {{#each user_data}}
                <li><a href="/dashboard/{{this.uniqueurl}}">Home</a></li>
                {{/each}}
                <li class="divider"></li>
                <li><a href="/">Sign Out</a></li>
            </ul>
        </ul>
    </div>
</nav>

    <div class="swipe-page col s12 m6">

    <div class="swiper-container">
        <p class="swiper-header center">Food Ideas:</p>
        <div class="swiper-wrapper">
            {{#each foods_data}}
            <div class="swiper-slide unliked" value={{this.id}}>
                 <img src="{{meal_img}}" alt="" class="img_slide" width="200px" height="200px">
                  <h4 class="idea">{{meal_name}}</h4>
               
            </div>
            {{/each}}
        </div>
    </div>
    </div>
</main>