<main class="swipe-page col s12 m6">

    <div class="swiper-container">
        <p class="swipe-header center">Date Ideas:</p>
        <div class="swiper-wrapper">
            {{#each activites_data}}
            <div class="swiper-slide unliked" value={{this.id}}>
                <h4 class="idea">{{event_name}}</h4>
            </div>
            {{/each}}
        </div>
    </div>
    
</main>