<main class="swipe-page col s12 m6">

    <div class="swiper-container">
        <p class="swiper-header center">Food Ideas:</p>
        <div class="swiper-wrapper">
            {{#each foods_data}}
            <div class="swiper-slide unliked" value={{this.id}}>
                <img src="https://www.google.com/search?hl=en&tbm=isch&source=hp&biw=1451&bih=731&ei=AgwEXcvOH6Ke_Qb0qKGIDg&q={{meal_img}}" alt="">
                <h4 class="idea">{{meal_name}}</h4>
            </div>
            {{/each}}
        </div>
    </div>
    
</main>