<main class="swipe-page col s12 m6">

    <div class="swiper-container">
        <p class="swipe-header center">Date Ideas:</p>
        <div class="swiper-wrapper">
            {{#each activites_data}}
            <div class="swiper-slide unliked" value={{this.id}}>
                <img src="https://cors-anywhere.herokuapp.com/https://www.google.com/search?hl=en&tbm=isch&source=hp&biw=1451&bih=731&ei=AgwEXcvOH6Ke_Qb0qKGIDg&q={{event_img}}" alt="">
                <h4 class="idea" val={{event_name}}>{{event_name}}</h4>
            </div>
            {{/each}}
        </div>
    </div>
    
</main>