/*
This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: http://www.fonts.com
*/

@font-face {
    font-family: "Honey Dew";
    src: url("../Fonts/HoneyDew.eot") format("eot"), url("../Fonts/HoneyDew.woff") format("woff"), url("../Fonts/HoneyDew.woff2") format("woff2"), url("../Fonts/HoneyDew.ttf") format("ttf");
}
.swiper-container{
    margin: auto;
    margin-top: 62px;
    
}
body {
    font-family: "Honey Dew", serif;
    background-image: url("../images/engagement-1718244_1920.jpeg");
    background-position: right top;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.modal-content{
    padding-bottom: 0px  !important;
    padding-top:0px !important;
}
  main {
    flex: 1 0 auto;
  }
     

p {
    color: black;
    margin: 10px;
}
h5{
    color:rgb(3, 180, 193) !important;
}
a {
    font-family: "Honey Dew", serif;
}

h4 {
    color: #F2BF27 !important;
}

.statement {
    font-size: 25px;
    color: black;
    margin-top:-80px;
}
.or{
    font-size: 25px;
    color: black;
}
footer.yellow.lighten-3 {
    padding: 10px 0;
    background-color: rgb(208,233,129) !important;
    color: #F2BF27 !important;
}
nav{
    background-color: rgb(208,233,129) !important;
    position: absolute;
}

nav li ul {
    z-index: 100%;
    position: absolute;
}
::placeholder{
    color:rgb(21, 121, 21);
    font-size: 25px !important;
}
.img_slide{
    margin-left:29%;
    margin-top: 7%;

}

.btn, .btn-large, .btn-flat{
    background-color: #F2BF27 !important;
    color:white;
    font-family: "Honey Dew";
    font-weight: bolder;
    font-size: 20px !important;
}

.brand-logo {
    margin-left: 30px;
    margin-top: 5px;
    color: #F2BF27 !important;
}

#login {
    margin-top: 5px;
}

#sign-up {
    font-size: 28px;
    font-weight: bolder;
    background-color: rgb(208,233,129);
    
}
#newuser{
    font-family:  "Honey Dew" !important;
    font-size: x-large;
    font-weight: bolder;
    margin: 36px 0 8px 0 !important;
    color:#F2BF27;
}
#user{
    font-family:  "Honey Dew" !important;
    font-size: x-large;
    font-weight: bolder;
    margin: 36px 0 8px 0 !important;
    color:#F2BF27;
}
.modal {
    font-family:  "Honey Dew" !important;
     font-size: x-large;
     font-weight: bolder;
     background-color: rgb(208,233,129)!important;
     font-family:  "Honey Dew" !important;
 }
.modal-footer{
   font-family:  "Honey Dew" !important;
    font-size: x-large;
    font-weight: bolder;
    background-color: rgb(208,233,129)!important;
    font-family:  "Honey Dew" !important;
}
.input-field > label {
    color:rgb(3, 180, 193) !important;
    font-size: 28px;
    
}

#newUserBtn{
    font-family: "Honey Dew";
    font-size: 25px !important;
    font-weight: bolder;
    color:white !important;
}

.dropdown-trigger {
    margin-right: 30px;
    margin-top: 5px;
 
 
}

#card {
    margin: 75px 0px;
    background-color: rgba(242, 240, 206, 0);
}

footer.page-footer {
    background-color: rgb(146, 231, 145);
}

nav ul a {
    color: black !important;
}

.dropdown-content {
    position: relative;
    right: 0px !important;
    top: -5px !important;
    background-color: white;
}

.main-card {
    position: absolute
}

.dashboard-cont {
    width:90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 60px;
}

.idea {
    text-align: center;
    margin-top: 50px;
    color: #F2BF27 !important;
    font-size: 4em;
    -webkit-text-stroke: 1px #242424;
    text-shadow: 0px 0px 14px rgb(133, 143, 0);
}

.av-img {
    max-height: 200px;
}

.row .col.l1 {
    width:15%;
}

.container{
    margin-top: 50px;
}
.footer{
    margin-top:0px;
}